.article-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid pink;
}

.article-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "img autore"
    "img sottonota";
    column-gap: 10px;
}

.immagine-profilo{
    grid-area: img;
}

.nome-autore-articolo{

    grid-area: autore;

}

.sotto-nota-articolo{
    grid-area: sottonota;
}

